.important{
    color:blueviolet;
    margin: .6em 10em;
    font-weight: bold;

}
.wcag-principle{
    background-color: rgb(0, 4, 11);
    color: rgb(130, 36, 243);
    font-weight: 600;
    padding: 4px 8px;
    box-shadow: 5px 10px 10px;
}
:root {
    --custom-property: rgb(242, 200, 14);
}
a:link{
    color: rgb(255, 0, 0);
}
a:visited{
    color: darkgreen;
}
a:hover { 
    color: #14ed5c; 
}
.testing{
    color:var(--custom-property);
}

.blog-post1{
    background-color: black;
    color:#fdfdfd;
    content: "";
    float: right;
    border-radius: 10px;
    border-color: rgb(62, 5, 167);
    border-style: solid;
    border-width: 100px;
    font-weight: 600;
    padding: 20px 20px;
    font-size: 25px;
    border-spacing: 5px;
    gap: 5px;
}
.writing{
    position: relative;
}
.image-move{
    float: right;
    border-radius: 10px;
    border-color: rgb(62, 5, 167);
    border-style: solid;
    border-width: 10px;
    margin-left: 20px;   /* space between image and text */
    margin-bottom: 10px; /* optional vertical spacing */
}
.image-move2{
    float: left;
    border-radius: 10px;
    border-color: rgb(62, 5, 167);
    border-style: solid;
    border-width: 10px;
    margin-right: 20px;   /* space between image and text */
    margin-bottom: 10px; /* optional vertical spacing */
}
#grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px, 20px;
    margin: 15px;
    justify-content: space-evenly;
    
}